main {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;
        margin-top: 43.50px;
    }

    .color {
        color: #0E8784;
        font-family: 'Fraunces', serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        ;
    }

    .color1 {
        color: #333D4B;
        font-family: 'Fraunces', serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: 28.5px;
    }

    .line {
        width: 255px;
        height: 1px;
        opacity: 0.25;
        background: #83888F;
        margin-top: 24px;
    }

    .color_2 {
        color: #83888F;
        font-family: 'Fraunces', serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }

    .color2 {
        color: #94989f;
        font-family: 'Fraunces', serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: 28.5px;
    }

    .main_title2 {
        margin-top: 24px;
    }


    .color_3 {
        color: #83888F;
        font-family: 'Fraunces', serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }

    .color3 {
        color: #83888F;
        font-family: 'Fraunces', serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: 28.5px;
    }

    .main_title3 {
        margin-top: 24px;
    }

    .color_4{
        color: #babfc7;
        font-family: 'Fraunces', serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }

    .color4{
        color: #bdc2ca;
        font-family: 'Fraunces', serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; 
        margin-left: 28.5px;
    }

    .main_title4{
        margin-top: 24px;
    }

    .color_5 {
        color: #83888F;
        font-family: 'Fraunces', serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }

    .color5 {
        color: #83888F;
        font-family: 'Fraunces', serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: 28.5px;
    }

    .main_title5 {
        margin-top: 24px;
    }

    .note{
        margin-left: 85px;
        margin-top: 150px;
    }
}